<template>
    <div class="container">
       <router-link :to="{ name: 'List' }"><button class="btn btn-secondary">GO BACK</button></router-link>
      <h2 class="header">Add new person record</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="lbl">Name</label>
            <input v-model="newPerson.name" class="form-control" placeholder="edit me">
          </div>
           <div class="form-group">
            <label class="lbl">Age</label>
            <input v-model.number="newPerson.age" class="form-control" placeholder="edit me">
          </div>
         <div class="form-group">
             <label class="lbl">Occupation </label>
            <select @change="handleOcupationChange" v-model="selectedOcupation" class="form-control" >
              <option v-for="(option, key) in occupations.options" v-bind:value="option.value" :key="key">
                {{option.text}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="lbl">City</label>
             <select  @change="handleCityChange" v-model="selectedCity" class="form-control" >
              <option v-for="(option, key) in cities.options" v-bind:value="option.value" :key="key">
                {{option.text}}
              </option>
            </select>
          </div>
           <div class="form-group">
            <label class="lbl">Company</label>
            <input v-model="newPerson.company"  class="form-control"  placeholder="edit me">
          </div>
           <div class="form-group">
            <label class="lbl">Phone</label>
            <input v-model="newPerson.phone" class="form-control"  placeholder="edit me">
          </div>
          <div class="form-group">
            <label class="lbl">Email</label>
            <input v-model="newPerson.email" class="form-control"  placeholder="edit me">
          </div>
          <div v-if="info" class="form-group">
            <div class="alert alert-primary" role="alert">
              Person record successfully added!
            </div>
          </div>
         <div class="form-group">
            <button class="btn btn-success" @click="add()">ADD</button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import Vue from "vue";
import Vuex from "vuex";
import { store } from "../store/store";

Vue.use(Vuex);
export default {
  name: "Edit",
  computed: Vuex.mapState(["people"]),
  store,
  data() {
    return {
      info: null,
      cities: {
        options: [
          { text: "Zoeyport", value: "Zoeyport" },
          { text: "Royton", value: "Royton" },
          { text: "West Brisaburgh", value: "West Brisaburgh" },
          { text: "West Elyssamouth", value: "supervisor" },
          { text: "Letaview", value: "Letaview" },
          { text: "Cleoland", value: "Cleoland" },
          { text: "Theresaland", value: "Theresaland" }
        ]
      },
      selectedCity: "",
      occupations: {
        options: [
          { text: "Strategist", value: "strategist" },
          { text: "Coordinator", value: "coordinator" },
          { text: "Engineer", value: "engineer" },
          { text: "Supervisor", value: "supervisor" },
          { text: "Planner", value: "planner" },
          { text: "Designer", value: "designer" },
          { text: "Producer", value: "producer" },
          { text: "Specialist", value: "specialist" }
        ]
      },
      selectedOcupation: ""
    };
  },
  created() {
    this.$store.dispatch("loadData");
    this.newPerson = {};
  },
  methods: {
    add() {
      this.newPerson.city = this.selectedCity;
      this.newPerson.occupation = this.selectedOcupation;
      this.$store.commit("addPeople", this.newPerson);
      this.info = true;
    },
    handleOcupationChange(e) {
      if (e.target.options.selectedIndex > -1) {
        this.selectedOcupation =
          e.target.options[e.target.options.selectedIndex].value;
      }
    },
    handleCityChange(e) {
      if (e.target.options.selectedIndex > -1) {
        this.selectedCity =
          e.target.options[e.target.options.selectedIndex].value;
      }
    }
  }
};
</script>

<style scoped lang="css">
.header {
  color: #a1a1a1;
}
.lbl {
  float: left;
  font-weight: 600;
}
button {
  float: left;
}
</style>