<template>
    <div class="container">
       <router-link :to="{ name: 'List' }"><button class="btn btn-secondary">GO BACK</button></router-link>
      <h2 class="header">Edit person record for: {{ person[0].name }}</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="lbl">Name</label>
            <input class="form-control" v-model="person[0].name" placeholder="edit me">
          </div>
           <div class="form-group">
            <label class="lbl">Age</label>
            <input class="form-control" v-model.number="person[0].age" placeholder="edit me">
          </div>
         <div class="form-group"> 
             <label class="lbl">Occupation </label>
             <select  @change="handleOcupationChange" v-model="selectedOcupation" class="form-control" >
              <option :selected="option.value === person[0].occupation ? true : false" v-for="(option, key) in occupations.options" v-bind:value="option.value" :key="key">
                {{option.text}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="lbl">City</label>
             <select @change="handleCityChange" v-model="selectedCity" class="form-control" >
              <option :selected="option.value === person[0].city ? true : false" v-for="(option, key) in cities.options" v-bind:value="option.value" :key="key">
                {{option.text}}
              </option>
            </select>
          </div>
           <div class="form-group">
            <label class="lbl">Company</label>
            <input id="company" class="form-control" v-model="person[0].company" placeholder="edit me">
          </div>
           <div class="form-group">
            <label class="lbl">Phone</label>
            <input class="form-control" v-model="person[0].phone" placeholder="edit me">
          </div>
          <div class="form-group">
            <label class="lbl">Email</label>
            <input class="form-control" v-model="person[0].email" placeholder="edit me">
          </div>
          <div v-if="info" class="form-group">
            <div class="alert alert-primary" role="alert">
              Person record successfully updated!
            </div>
          </div>
         <div class="form-group">
            <button class="btn btn-success" @click="update($route.params.id)">UPDATE</button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import Vue from "vue";
import Vuex from "vuex";
import { store } from "../store/store";

Vue.use(Vuex);
export default {
  name: "Edit",
  computed: {
    people: {
      set: function() {
        this.people = this.filtered;
      },
      get: function() {
        return this.$store.state.people;
      }
    },
    currentPerson: {
      set: function() {},
      get: function() {
        var searched = this.$store.state.people.filter(person => {
          return person.id === this.$route.params.id;
        });
        return searched;
      }
    },
    cities: {
      get: function() {
        return this.$store.state.cities;
      },
      set: function() {}
    },
    occupations: {
      get: function() {
        return this.$store.state.occupations;
      },
      set: function() {}
    }
  },
  store,
  data() {
    return {
      info: null,
      selectedCity: "",
      selectedOcupation: ""
    };
  },
  created() {
    this.$store.dispatch("loadData");
    // this.$store.dispatch("loadCities");
    this.person = this.getPerson(this.$route.params.id);

    this.selectedCity = this.currentPerson[0].city;
    this.selectedOcupation = this.currentPerson[0].occupation;
  },
  methods: {
    getPerson(routeId) {
      var searched = this.people.filter(val => {
        return val.id === Number(routeId);
      });
      return searched;
    },
    update(routeId) {
      var id = Number(routeId);
      var searched = this.getPerson(id);

      this.person[0].occupation = this.selectedOcupation;
      this.person[0].city = this.selectedCity;

      if (searched) {
        var updatedPerson = {
          id: this.person[0].id,
          name: this.person[0].name,
          age: this.person[0].age,
          occupation: this.person[0].occupation,
          city: this.person[0].city,
          company: this.person[0].company,
          phone: this.person[0].phone,
          email: this.person[0].email
        };
        this.$store.commit("updatePeople", updatedPerson);
        this.info = true;
      }
    },
    handleOcupationChange(e) {
      if (e.target.options.selectedIndex > -1) {
        this.selectedOcupation =
          e.target.options[e.target.options.selectedIndex].value;
      }
    },
    handleCityChange(e) {
      if (e.target.options.selectedIndex > -1) {
        this.selectedCity =
          e.target.options[e.target.options.selectedIndex].value;
      }
    }
  }
};
</script>

<style scoped lang="css">
.header {
  color: #a1a1a1;
}
.lbl {
  float: left;
  font-weight: 600;
}
button {
  float: left;
}
</style>