<template>
  <div class="container">
      <router-link :to="{ name: 'Add' }"><button class="btn btn-add btn-secondary">Add New Person</button></router-link>
   <div class="clearfix"></div>
    <h2 class="page-title">People list</h2>
    <br />
    <h3>Search By</h3>
    <div class="form-group">
       <label class="lbl">Name </label>
       <input class="form-control" type="text"  v-model="searchName"  placeholder="Name.."/>
    </div>
   
    <div class="form-group">
      <label class="lbl">Age </label>
      <input class="form-control" type="text"  v-model="searchAge" placeholder="Age.."/>
    </div>
   
    <div class="form-group">
             <label class="lbl">Occupations</label>
             <select @change="handleOcupationChange($event)" v-model="selectedOcupation" class="form-control" >
              <option v-for="(option, key) in occupations.options" v-bind:value="option.value" :key="key">
                {{option.text}}
              </option>
            </select>
    </div>

    <div class="form-group">
             <label class="lbl">Cities</label>
             <select @change="handleCityChange($event)" v-model="selectedCity" class="form-control" >
              <option v-for="(option, key) in cities.options" v-bind:value="option.value" :key="key">
                {{option.text}}
              </option>
            </select>
    </div>
   
    <div class="form-group">
       <label class="lbl">Company</label>
      <input class="form-control" type="text"  v-model="searchCompany" placeholder="Company.."/>
    </div>
   
    <div class="form-group">
        <label class="lbl">Phone</label>
       <input class="form-control" type="text"  v-model="searchPhone" placeholder="Phone.."/>
    </div>
   
    <div class="form-group">
      <label class="lbl">Email</label>
      <input class="form-control" type="text"  v-model="searchEmail" placeholder="Email.."/>
    </div>
   
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
         
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th class="index">#</th>
                <th class="id">Id</th>
                <th class="name">Name</th>
                <th class="age">Age</th>
                <th class="occupation">Occupation</th>
                <th class="city">City</th>
                <th class="company">Company</th>
                <th class="phone">Phone</th>
                <th class="email">Email</th>
                <th class="delete"></th>
                <th class="edit"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(person, personIndex) in filtered || people" :key="personIndex" >
                <td class="index">{{ personIndex }}</td>
                <td class="id">{{ person.id }}</td>
                <td class="name">{{ person.name }}</td>
                <td class="age">{{ person.age }}</td>
                <td class="occupation">{{ person.occupation }}</td>
                <td class="city">{{ person.city }}</td>
                <td class="company">{{ person.company }}</td>
                <td class="phone">{{ person.phone }}</td>
                <td class="email">{{ person.email }}</td>
                <td class="action"><button type="button" class="btn btn-danger" v-on:click="remove(person.id)">DELETE</button></td>
                <td>
                   <router-link :to="{ name: 'Edit', params: { id: person.id } }"><button class="btn btn-primary">EDIT</button></router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import Vuex from "vuex";

Vue.use(Vuex);
export default {
  name: "List",
  data() {
    return {
      searchName: "",
      searchAge: "",
      searchCity: "",
      searchCompany: "",
      searchPhone: "",
      searchEmail: "",
      selectedCity: "",
      selectedOcupation: ""
    };
  },
  computed: {
    people: {
      set: function() {},
      get: function() {
        return this.$store.state.people;
      }
    },
    cities: {
      get: function() {
        if (this.$store.state.cities.options[0].value != -1) {
          this.$store.state.cities.options.unshift({
            text: "All Cities",
            value: "-1"
          });
        }
        return this.$store.state.cities;
      },
      set: function() {}
    },
    occupations: {
      get: function() {
        if (this.$store.state.occupations.options[0].value != -1) {
          this.$store.state.occupations.options.unshift({
            text: "All Occupations",
            value: "-1"
          });
        }
        return this.$store.state.occupations;
      },
      set: function() {}
    },
    filtered: {
      filteredData: "",
      set: function(newValue) {
        console.log("new value: " + newValue);
        this.filteredData = newValue;
      },
      get: function() {
        //search by name
        this.filteredData = this.$store.state.people;
        if (this.searchName) {
          this.filteredData = this.filteredData.filter(person => {
            return (
              person.name.toLowerCase().indexOf(this.searchName.toLowerCase()) >
              -1
            );
          });
        }

        //search by selectedOcupation
        if (
          this.selectedOcupation &&
          this.selectedOcupation !== "-1"
        ) {
          this.filteredData = this.filteredData.filter(person => {
            return (
              person.occupation.toLowerCase() ===
              this.selectedOcupation.toLowerCase()
            );
          });
        }

        //search by selecteCity
        if (this.selectedCity && this.selectedCity !== "-1") {
          this.filteredData = this.filteredData.filter(person => {
            return (
              person.city.toLowerCase() === this.selectedCity.toLowerCase()
            );
          });
        }

        //include search by age
        var searchedAge = parseInt(this.searchAge);
        if (typeof searchedAge === "number" && searchedAge === searchedAge) {
          this.filteredData = this.filteredData.filter(person => {
            return person.age === searchedAge;
          });
        }

        //search by city
        if (this.searchCity) {
          this.filteredData = this.filteredData.filter(person => {
            return (
              person.city.toLowerCase().indexOf(this.searchCity.toLowerCase()) >
              -1
            );
          });
        }

        //search by company
        if (this.searchCompany) {
          this.filteredData = this.filteredData.filter(person => {
            return (
              person.company
                .toLowerCase()
                .indexOf(this.searchCompany.toLowerCase()) > -1
            );
          });
        }

        //search by phone
        if (this.searchPhone) {
          this.filteredData = this.filteredData.filter(person => {
            return (
              person.phone
                .toLowerCase()
                .indexOf(this.searchPhone.toLowerCase()) > -1
            );
          });
        }

        //search by email
        if (this.searchEmail) {
          this.filteredData = this.filteredData.filter(person => {
            return (
              person.email
                .toLowerCase()
                .indexOf(this.searchEmail.toLowerCase()) > -1
            );
          });
        }

        console.log("filtered data: " + this.filteredData);
        return this.filteredData && this.filteredData.length
          ? this.filteredData
          : this.people;
      }
    }
  },
  created() {
    this.$store.dispatch("loadData"); // dispatch loading
  },
  methods: {
    remove(id) {
      var searched = this.people.findIndex(val => {
        return val.id == id;
      });

      confirm("Are you sure you want to delete this record?") === true
        ? this.people.splice(searched, 1)
        : void 0;
    },
    handleOcupationChange(e) {
      if (e.target.options.selectedIndex > 0) {
        var result = this.filtered.filter(person => {
          return (
            person.occupation.toLowerCase() ===
            this.selectedOcupation.toLowerCase()
          );
        });
        console.log("handleOcupationChange: " + result);
        this.filtered = result || this.filtered;
      }
    },
    handleCityChange(e) {
      if (e.target.options.selectedIndex > 0) {
        var result = this.filtered.filter(person => {
          return person.city.toLowerCase() === this.selectedCity.toLowerCase();
        });
        console.log("handleCityChange: " + result);
        this.filtered = result || this.filtered;
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped >
.lbl {
  float: left;
  font-weight: 600;
}
.btn-add {
  float: right;
  margin-bottom: 10px;
}
.clearfix {
  clear: both;
}
/* .name,
.phone {
  white-space: nowrap;
} */
.page-title {
  color: #a1a1a1;
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;  
}
a {
  color: #42b983;
}
</style>


